In [41]:
# Задание 1
import pandas as pd

df_ratings = pd.read_csv('/Users/igortitov/Lessons/ml-latest-small/ratings.csv')
df_movies = pd.read_csv('/Users/igortitov/Lessons/ml-latest-small/movies.csv')
dfm = df_ratings.merge(df_movies, left_on='movieId',right_on='movieId',how='left')
dfm_filtered = dfm.filter(items = ['title', 'rating'])
dfm_filtered = dfm_filtered[dfm_filtered['rating'] == 5.0]
dfm_filtered['title'].value_counts()

Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
                                            ...
Clerks II (2006)                               1
National Lampoon's Bag Boy (2007)              1
Analyze This (1999)                            1
Daylight (1996)                                1
Shallow Hal (2001)                             1
Name: title, Length: 2954, dtype: int64

In [29]:
# Задание 2
import pandas as pd

df = pd.read_csv('/Users/igortitov/Lessons/ml-latest-small/power.csv')

df_country = df[(df['country'] == 'Latvia') | (df['country'] == 'Lithuania') | (df['country'] == 'Estonia')]
df_categories = df_country[(df_country['category'] == 4) | (df_country['category'] == 12) | (df_country['category'] == 21) ]
df_years = df_categories[(df_categories['year'] == 2005) | (df_categories['year'] == 2006) | (df_categories['year'] == 2007) | (df_categories['year'] == 2008) | (df_categories['year'] == 2009) | (df_categories['year'] == 2010)] 
df_final = df_years[df_years['quantity'] >= 0]
Total = df_final['quantity'].sum()
print(Total)

240580.0

In [42]:
# Задание 3
page_url = 'https://fortrader.org/quotes'
# pd.read_html('https://fortrader.org/quotes')[5]
df = pd.read_html(page_url, encoding='utf-8')
print(df)

                                   Название       Цена     Изменение  \
0                                   S&P 500    3317.00        -80.50
1   Фьючерс РТС Курс фьючерса на индекс РТС  118130.00      +116 868
2                       Индекс Dow 30 (DJI)   28075.00        +144.7
3                      РТС Курс индекса РТС  128140.00  +1 840.00000
4                                     DAX30   13015.20        +243.4
5                                      FTSE    7137.70      +1 135.8
6                                    CAC 40    4977.00         +66.8
7                                Nasdaq 100   11638.50        +83.30
8                              Russell 2000    1557.70          +5.2
9                                   IBEX 35    7070.40        +108.9
10                               Nikkei 225   23030.00          +105
11                            Euro Stoxx 50    3316.20         +54.3
12                              S&P/ASX 200    6127.90         +50.5
13                               Index MOEX  303325.00     +2 850.00
14                                     MSCI     364.38         +0.69

   Изменение(%)  Обновлено
0         -2.37        NaN
1        +9 260        NaN
2          +0.5        NaN
3      +1.45685        NaN
4          +1.9        NaN
5         +18.9        NaN
6          +1.4        NaN
7         +0.72        NaN
8          +0.3        NaN
9          +1.6        NaN
10           +0        NaN
11         +1.7        NaN
12         +0.8        NaN
13        +0.95        NaN
14        +0.19        NaN